<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>Game Sales - поиск по игровым скидкам</title>
    <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}favicon_smooth.ico" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    {% block link %}{% endblock %}
    {% block link_desktop %}{% endblock %}
    <style>
    {% if not is_mobile %}
        body { padding-top: 70px; }
        .jumbotron { padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; }
    {% endif %}
    </style>
</head>
<body>

    <div class="navbar navbar-inverse {% if not is_mobile %}navbar-fixed-top{% endif %}" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tower" style="margin-right: 5px;"></span>Game Sales{% if not is_mobile %} - поиск по игровым скидкам{% endif %}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/admin/">Account: {{ user.username }}</a></li>
                {% endif %}
              </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <div style="text-align: center; padding-bottom: 10px;">Game Sales 2014. Contacts: <a href="mailto:turlicht@yandex.ru">turlicht@yandex.ru</a></div>

    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% block script %}{% endblock %}
    {% block script_desktop %}{% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54391124-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>