{% extends "sales/base.html" %}

{% block meta %}
    <meta name="description" content="Поиск по скидкам и распродажам компьютерных игр, продаваемых через сервисы цифрового распространения: Steam, Origin, Uplay и т.п."/>
{% endblock %}

{% block link_desktop %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block content %}

    {% if not is_mobile %}
    <form action="{% url 'main' %}" method="post" role="form" class="form-inline">
        {% csrf_token %}
                {{ form.stores }}
                {{ form.name }}
        {% if False %}
                {{ form.price_from }}
                {{ form.price_to }}
        {% endif %}
        <button type="submit" class="btn btn-default">Поиск</button>
    </form>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            {% if is_mobile %}
            {% else %}
            <tr class="table-head">
                <th></th>
                <th>Название</th>
                <th>Магазин</th>
                <th>Цена</th>
                <th>Скидка</th>
                {% if user.is_authenticated %}<th><span class="glyphicon glyphicon-th"></span></th>{% endif %}
            </tr>
            {% endif %}
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr class="table-content">
            {% if is_mobile %}
                <td style="padding: 4px;"><img src="{{ sale.image }}" height="48" ></td>
                <td>
                    <a target="_blank" rel="nofollow" class="link-content" href="{{ sale.link }}">{{ sale.name }}</a>
                    <br>{{ sale.price_now|floatformat }} {{ sale.currency }}<del>{{ sale.price_old|floatformat }} {{ sale.currency }}</del>
                </td>
                <td><a target="_blank" rel="nofollow" class="link-content" href="{{ sale.store_site_view }}">{{ sale.store_name_view }}</a></td>
            {% else %}
                <td style="padding: 4px;"><img src="{{ sale.image }}" height="48" ></td>
                <td><a target="_blank" rel="nofollow" class="link-content" href="{{ sale.link }}">{{ sale.name }}</a>
                {% if user.is_authenticated %}<br>{{ sale.name_real }}{% endif %}
                </td>
                <td><a target="_blank" rel="nofollow" class="link-content" href="{{ sale.store_site_view }}">{{ sale.store_name_view }}</a></td>
                <td>{{ sale.price_now|floatformat }} {{ sale.currency }}<br><del>{{ sale.price_old|floatformat }} {{ sale.currency }}</del></td>
                <td>{{ sale.discount }}%<br>
                    <a href="{% url 'sale-detail' sale.id %}">
                        <span class="glyphicon glyphicon-stats" style="margin-left: 5px;"></span>
                    </a>
                    {% if sale.is_bundle %}
                        <span id="bandle" class="glyphicon glyphicon-gift" style="margin-right: 5px;"></span>
                    {% endif %}
                </td>
                {% if user.is_authenticated %}
                    <td><a target="_blank" href="/admin/sales/sale/{{ sale.id }}/"><span class="glyphicon glyphicon-pencil"></span></a></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% if not sales %}
        Ничего не найдено, попробуйте изменить запрос. В базе хранятся только игры со скидками.
    {% endif %}

    {% if is_paginated %}
    <ul class="pagination">
        <li><a rel="nofollow" href="?page=1">&laquo;</a></li>
        {% for page in page_range %}
            {% if page_obj.number == page %}
                <li class="active"><a rel="nofollow" href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
                <li><a rel="nofollow" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a rel="nofollow" href="?page={{ paginator.num_pages }}">&raquo;</a></li>
    </ul>
    {% endif %}

{% endblock %}

{% block script_desktop %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_stores').multiselect({
            numberDisplayed: 5,
            nonSelectedText: "магазины...",
            includeSelectAllOption: true,
            selectAllText: 'Все магазины',
            nSelectedText: 'Выбрано: ',

            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' ' + options.length + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });
    </script>

    <script type="text/javascript">
        $('#bandle').popover({
            'trigger': 'hover',
            'title': 'Bundle',
            'placement': 'right',
            'content': 'Комплект, состоящий из нескольких игр'
        })
    </script>

{% endblock %}