{% extends "sales/base.html" %}

{% block meta %}
    <meta name="description" content="Статистика цен игры"/>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}blueimp/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-image-gallery.min.css">
{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <div id="container" style="width:100%; height:400px;"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                    <tr class="table-head">
                        <th>Название</th>
                        <th>Магазин</th>
                        {% if user.is_authenticated %}<th><span class="glyphicon glyphicon-th"></span></th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                    <tr class="table-content">
                        <td><a target="_blank" rel="nofollow" class="link-content" href="{{ sale.link }}">{{ sale.name }}</a>
                        {% if user.is_authenticated %} ({{ sale.name_real }}){% endif %}
                        </td>
                        <td><a target="_blank" rel="nofollow" class="link-content" href="{{ sale.store_site_view }}">{{ sale.store_name_view }}</a></td>
                        {% if user.is_authenticated %}
                            <td><a target="_blank" href="/admin/sales/sale/{{ sale.id }}/"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>


{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}blueimp/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    zoomType: 'x'
                },
                title: {
                    text: 'История изменения цены',
                    x: -20 //center
                },
                subtitle: {
                    text: 'График отражает движение скидочных цен',
                    x: -20 //center
                },
                xAxis: {
                    type: 'datetime',
                    minTickInterval: 24 * 3600 * 1000,
                    dateTimeLabelFormats: {
                        millisecond: '%H:%M:%S.%L',
                        second: '%H:%M:%S',
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b.',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Цена, руб.'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ' руб.'
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [
                    {% for sery in series %}
                        {
                            name: '{{ sery.name }}',
                            color: '{{ sery.color }}',
                            pointInterval: 24 * 3600 * 1000,
                            data: [{{ sery.data }}]
                        },
                    {% endfor %}
                ]
            });
        });
    </script>

{% endblock %}